# 将该属性设置为false，可以忽略peer dependency的报错。pnpm 7.0之前默认是false,7.0之后默认:true
# 详见: https://www.pnpm.cn/npmrc#strict-peer-dependencies
# strict-peer-dependencies=false

# 将默认npm仓库修改为淘宝. 默认值为: https://registry.npmjs.org/
registry=https://registry.npmmirror.com